Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-dotenv
django-cors-headers
pandas
numpy
scikit-learn
celery
redis
drf-spectacular
xgboost
joblib
matplotlib
seaborn
gunicorn
whitenoise
